<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yunita.reflexsimulator" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReactionTimer"
            android:label="@string/title_activity_single_player"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yunita.reflexsimulator.Main" />
        </activity>
        <activity
            android:name=".Gameshow"
            android:label="@string/title_activity_gameshow"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yunita.reflexsimulator.Main" />
        </activity>
        <activity
            android:name=".Statistic"
            android:label="@string/title_activity_statistic"
            android:parentActivityName=".Main" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yunita.reflexsimulator.Main" />
        </activity>
        <activity
            android:name=".InstructionDialog"
            android:label="@string/title_activity_instruction_dialog"
            android:parentActivityName=".ReactionTimer"
        android:theme="@android:style/Theme.Holo.Dialog" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.yunita.reflexsimulator.ReactionTimer" />
        </activity>
    </application>

</manifest>
